---
import Layout from '../layouts/Layout.astro';
---

<Layout title="Contact — Fernando Delgado" bodyClass="collection-type-page">

  <div class="sqs-block html-block sqs-block-html">
    <div class="sqs-block-content">
      <div class="sqs-html-content">
        <h2 style="text-align:center;">Contact</h2>
        <p>If you want to get in touch, please reach out to <a href="mailto:hello@fernandodelgado.com" target="_blank">hello@fernandodelgado.com</a>.</p>
      </div>
    </div>
  </div>

</Layout>
